.grid-container {
    display: grid;
    grid-template-columns: 20% 80% ;
    grid-template-rows: auto auto auto ;
    gap: 60px;
    gap: 10px;
    background-color: white;
    padding: 10px;
}

.grid-container > div {

   
   
    text-align: center;
    padding: 20px 5px;;
    font-size:20px;
   
}

.header {
    grid-column: 1/ span 2;
}

.footer {
    grid-column: 1/ span 2;
}
.catalogo{

    display: flex;
    font-size:20px;
}




